<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<div class= "col-md-8-offset-2">
  <% @repos.each do |article| %>
    <p><%= repo.title %></p>
    <p><%= repo.content %></p>
    <% end %>
</div>



  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
