<!DOCTYPE html>
<html>
  <head>
    <title>GA-Hub</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <!-- nav bar -->
      <div class="row black-background navbar-fixed-top">
        <!-- GA Logo -->
        <div class="col-xs-1">
          <%= link_to( image_tag("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fculturelabx.com%2Fwp-content%2Fuploads%2F2014%2F10%2Fgeneral-assembly-logo.png&f=1",
          :width=> "90px", :height=> "90px",
          :class=> "img ga-logo",
          :title=> "Home"),
          "/") %>
        </div>
        <!-- Search Bar (begin hidden) -->
        <div class="col-xs-10">
          <% if !@homepage %>
          <div class="search-bar">
            <div class="input-group" >
              <%= form_tag("/search", method: "get") do %>
                <%= text_field_tag(:q) %>
                <%= submit_tag("Search") %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
        <!-- GitHub User Image or Logo -->
        <% if current_user %>
          <div class="col-xs-1">
            <%= link_to( image_tag(current_user[:image_url],
            :width=> "70px", :height=> "70px",
            :class=> "gh-logo img img-circle",
            :title=> "Logout"),
            "/signout", :class=> "standard-text") %>
          </div>
        <% else %>
          <div class="col-xs-1">
            <%= link_to( image_tag("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fjdpirtle.com%2Fimages%2Fsocial_icons%2Fgithub_white.png&f=1",
            :width=> "70px", :height=> "70px",
            :class=> "img gh-logo",
            :title=> "Login"),
            "/auth/github", :class=> "standard-text") %>
          </div>
        <% end %>
      </div>
      <!-- end of navigation -->

      <% if current_user %>
        <div class="text-center"><%= flash.notice %></div>
      <% end %>

      <%= yield %>

      <div class="navbar navbar-fixed-bottom">
        <h5 class="text-center">anton, brett, ivan and weston</h5>
      </div>
    </div>
  </body>
</html>
